@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

body {
    background-color: #161616;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  header{
    display:flex;
    justify-content: space-between;
    background-color:#161616;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
	  width:100%;
	  box-sizing: border-box;
	  padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
  }
  
  .logo img{
    cursor: pointer;
    float: left;
    margin-left: -650px;
    margin-top: 5px;
    width: 120px;
    height: auto;
}

  ul{
      margin-top: 32px;

  }

  ul li{
      display: inline;
  }

  ul li a{
      text-decoration: none;
      color: #F4F7FF;
      padding: 10px 15px;
      font-size: 12px;
      transition: 0.4s;

  }

  ul li a:hover{
    background-color:#F4F7FF;
	color:#161616;
	font-weight: bold;
	transition: all ease 0.4s;

  }

   ul li.active a{
    background-color:#F4F7FF;
    color:#161616;
   }

  .main{
      max-width: 1200px;
      margin: auto;
      
  }
  
  .about-section{
      width: 100%;
      background: #F4F7FF;
      padding: 150px 0;
  }

  .inner-width{
      max-width: 1000px;
      overflow: hidden;
      padding: 0 20px;
      margin: auto;
  }

  .about-section h1{
      
      text-transform: uppercase;
      font-size: 4rem;
      text-align: center;
    
  }

  .border{
      width: 120px;
      height: 4px;
      background: #161616;
      margin: 50px auto;
  }

  .about-section-row{
      display: flex;
      flex: wrap;
  }

  .about-section-col{
      flex: 50%;
  }

  .about{
      padding-right: 30px;
  }

  .about p{
      text-align: justify;
      margin-bottom: 20px;
  }

  .about a{
      display:inline-block;
      color: #161616;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid #161616;
      padding: 8px 40px;
      transition: all ease 0.4s;
  }

  .about a:hover{
      color: #F4F7FF;
      background: #161616;
  }
  
  .skills{
      padding-left: 30px;
  }

  .skill{
      margin-bottom: 10px;
  }

  .progress{
      width: 100%;
      height: 12px;
      background:#161616;
      border-radius: 12px;
  }

  .progress-bar{
      height: 12px;
      background: #F2AA4CFF;
      border-radius: 12px;
  }

  .p1{
      width: 90%;
  }

  .p2{
    width: 70%;
}

.p3{
    width: 50%;
}

.progress-bar span{
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color:#161616;
    font-size: 12px;
}

@media screen and (max width:700px) {
    .about-section-col{
        flex: 100%;
        margin: 10px 0;
    }

    .about .skills{
        padding: 0;

    }
    .about{
        text-align: center;
    }
}

.footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #161616;

  }
  
  .inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
  }

  .inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
  }

  .inner_footer .logo_container img{
    width: 200px;
    height: auto;
  }

  .inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
  }

  .inner_footer .footer_third:last-child{
    margin-right: 0;
  }

  .inner_footer .footer_third h1{
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase;
    font-size: 20px;
    color: #F2AA4CFF;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .inner_footer .footer_third a{
    font-family: 'Josefin Sans', sans-serif; 
    text-decoration: none;
    font-size: 18px;
    color: #F4F7FF;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 20px;
  }

  .inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
  }

  .inner_footer .footer_third span{
    color: #F4F7FF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    display: block;
  }

  @media(max-width: 600px){
    .footer .inner_footer{
      width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .box-img{
    border: 3px solid #161616;
    background:transparent;
    width: 200px;
    height: 200px;
    margin-left: 140px;
    padding: 10px;
  }